@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400&display=swap');

:root {
    --background: #1e1e1e;
    --white: #dbdbdb;
    --url:  #1987ee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white);
    background-color: var(--background);
    font-family: 'Newsreader', serif;
    font-weight: lighter;
    font-size: 1.5rem;
    height: 100vh;
}

/* ===================================HEADER================================ */
/* ==================
begin checkbox menu 
================== */
.checkbox_menu {
    display: none;
}
.checkbox_menu_label {
    position: absolute;
    cursor: pointer;
    margin-left: 1rem;
}
.checkbox_menu_label svg {
    width: 1.3rem;
    fill: var(--white);
}
.checkbox_menu_label .close {
    display: none;
    margin-top: -0.3rem;
}
/* end checkbox menu */

/* ==================
begin nav menu
================== */
.nav_menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
}
.nav_menu li {
    display: none;
    list-style-type: none;
}
.nav_menu li:first-child {
    display: block;
    margin-left: 2rem;
}
.nav_menu a {
    color: inherit;
    text-decoration: none;
}
/* end nav menu*/

/* ==================
begin open menu
================== */
#checkbox_menu:checked ~ ul.nav_menu li {
    display: block;
}
#checkbox_menu:checked ~ label.checkbox_menu_label .close {
    display: block;
}
#checkbox_menu:checked ~ label.checkbox_menu_label .home {
    display: none;
}
/* end open menu */
/* ===================================HEADER================================ */

/* ===================================MAIN================================ */
main {
    width: 60%;
    margin: auto;
}
.container h2{
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.container_blog {
    text-align: left;
}
.container_card {
    border-radius: 1rem;
    margin-top: 2rem;
    text-align: center;
}
.container_card img {
    border-radius: 1rem;
    opacity: 0.8;
    width: 10rem;
}
.url {
    cursor: pointer;
    text-decoration: none;
    color: var(--url);
}
/* ===================================MAIN================================ */

/* ===================================FOOTER================================ */
footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    color: var(--white);
}
/* ===================================FOOTER================================ */

/* ===================================MOBILE================================ */
@media only screen and (min-width: 800px) {
    main {
        width: 90%;
        margin: auto;
    }
}
/* ===================================MOBILE================================ */